header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

footer {
    display: flex;
    color: yellow;
    background-color: black;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}